<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>VPN180监控中心-坐席</title>
    <link rel="icon" href="../../static/Img/ioc.ioc" type="image/x-icon"/>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/layui/css/modules/layer/default/layer.css">
    <script src="../../static/Js/jquery_v3.4.1.js"></script>
    <script src="../../static/Js/jquery.cookie.js"></script>
    <script src="../../static/layui/layui.all.js"></script>
    <script src="../../static/layui/lay/modules/layer.js"></script>
    <script src="../../static/layui/lay/modules/jquery.js"></script>
</head>
<style type="text/css">

</style>
<body>
    <div class="layui-container">
        <div style=" width: 33%;height:100%;float: left;">
            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
                <legend>收到的音频信息</legend>
                <div></div>
            </fieldset>
        </div>
        <div style=" width: 33%;height:100%;float: left;">
            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
                <legend>收到的音频信息</legend>
                <div></div>
            </fieldset>
        </div>
        <div style=" width: 33%;height:100%;float: left;">
            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
                <legend>收到的音频信息</legend>
                <div></div>
            </fieldset>
        </div>
    </div>
<script>
    //获取页面传过来的id
    var id = window.location.search.substring(4);
    console.log("id:"+id);
</script>
</body>
</html>