<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>VPN180监控中心-坐席</title>
    <link rel="icon" href="../../static/Img/ioc.ioc" type="image/x-icon"/>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/layui/css/modules/layer/default/layer.css">
    <script src="../../static/Js/jquery_v3.4.1.js"></script>
    <script src="../../static/Js/jquery.cookie.js"></script>
    <script src="../../static/Js/reconnecting-websocket.js"></script>
    <script src="../../static/layui/layui.all.js"></script>
    <script src="../../static/layui/lay/modules/layer.js"></script>
    <script src="../../static/layui/lay/modules/jquery.js"></script>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<style type="text/css">
    body {
        background: url("../../static/Img/bg_night.jpg");
        height: 100%;width: 100%;
        background-size:cover;
    }
    p{
        font-size: 14px;
        color: #fff;
    }
</style>
<body>
<div style="width: 1150px;height:700px;padding: 0 2% 0 2%;margin:0 auto;">
    <div id="containerDiv" class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">坐席监控</li>
        </ul>
        <div id="seatContentDiv" class="layui-tab-content" style="">
        </div>
    </div>
</div>
<script>
    /**
     * @param sum 状态 0-正常 1-异常
     */
    function spanStatus(sum) {
        if(sum==0){
            return " <span class=\"layui-badge-dot layui-bg-blue\"></span>";
        }else {
            return " <span class=\"layui-badge-dot\"></span>";
        }
    }
    /**
     *渲染坐席数据传输状态
     * @param sum 状态 0-未输出/输入数据  1-正在输出/输入数据
     * @param dBmw 电平值
     * @returns {string}
     */
    function animation(sum , dBmw) {
        if (sum==1){
            return "  <div class=\"layui-anim layui-anim-fadein layui-anim-loop\" style=\"padding-left:50%\">\n" +
                "           <span class=\"layui-badge layui-bg-blue\" >"+dBmw+"</span>\n" +
                "     </div>";
        }else {
            return "  <div style=\"padding-left:50%\">\n" +
                "           <span class=\"layui-badge layui-bg-gray\" >"+dBmw+"</span>\n" +
                "     </div>";
        }
    }
    /**
     * 渲染坐席数据
     * @param obj
     * @param i
     */
    function addSeatDiv(obj,i) {
        // console.log(obj);
        var bgColor = getRandomColor();
        $("#seatContentDiv").append("   <div style=\"width: 1140px;height: 100%;padding: 5px 10px 5px 10px;background:url('../../static/Img/transparent.png')\">\n" +
            "                <div class=\"layui-field-box\" style=\"background:url('../../static/Img/transparent_black.png')\">\n" +
            "                    <div style=\"width: 100%;height: 150px;\"><!--background-color: #fff;-->\n" +
            "                        <div style=\"width: 12%;height: 150px;float: left\">\n" +
            "                            <div style=\"width: 96%;height: 140px;padding: 5px 2%  5px 2%;\">\n" +
            "                                <div style=\"width: 100%;height: 100%;\">\n" +
            "                                    <div style=\"width: 100%;height: 30%;display:flex;justify-content:center;align-items:center;float: left\">\n" +
            "                                        <div style=\"background-color: "+bgColor+";border-radius:50%;width:25px;height:25px;float: left\">\n" +
            "                                            <p style=\"font-size: 16px;padding-top: 5px;color: #fff\" align=\"center\">"+obj.id+"</p>\n" +
            "                                        </div>\n" +
            "                                        <div style=\"float: left\">\n" +
            "                                            <p style=\"padding-left: 5px;float: left\">\n" +
            "                                                 <!--坐席名称-->\n"+obj.name+spanStatus(obj.status)+
            "                                            </p>\n" +
            "                                        </div>\n" +
            "                                    </div>\n" +
            "                                    <hr>\n" +
            "                                    <div style=\"width: 100%;float: left;height: 62%\">\n" +
            "                                        <div style=\"width: 98%;height: 30%;padding: 0 1% 0 1%\">\n" +
            "                                            <p style=\"float: left;padding-bottom: 5px;padding-left: 10%\"> <i class=\"layui-icon layui-icon-download-circle\"></i> Rx：</p>\n" +
            "                                            <!-- 追加动画效果-input输入 -->\n" +animation(obj.input , obj.input_dBmw) +
            "                                        </div>\n" +
            "                                        <div style=\"width: 98%;height: 30%;padding: 0 1% 0 1%\">\n" +
            "                                            <p style=\"float: left;padding-bottom: 5px;padding-left: 10%\"><i class=\"layui-icon layui-icon-upload-drag\"></i> Tx：</p>\n" +
            "                                            <!-- 追加动画效果-output输出 -->\n" +animation(obj.output , obj.output_dBmw) +
            "                                        </div>\n" +
            "                                        <div style=\"width: 98%;height: 30%;padding: 0 1% 0 1%\">\n" +
            "                                            <p style=\"width: 30px;color: dodgerblue;cursor:pointer\">详情</p>\n" +
            "                                        </div>\n" +
            "                                    </div>\n" +
            "                                </div>\n" +
            "                            </div>\n" +
            "                        </div>\n" +
            "\n" +
            "                        <div style=\"width: 87%;height: 150px;float: left;border:1px solid #f8f8f8\" >\n" +
            "                            <div style=\"width: 98%;height: 140px;padding: 5px 1%  5px 1%;\">\n" +
            "                                <div id=\"channelDiv"+i+"\" style=\"width: 100%;height: 100%;display:flex; justify-content:center;  align-items:center;\">\n"+
            "                                </div>\n" +
            "                            </div>\n" +
            "                        </div>\n" +
            "                    </div>\n" +
            "                </div>\n" +
            "            </div>");

    }
    /**
     * 渲染基站数据
     * @param obj
     */
    function addBaseStation(obj,i) {
        for (var j=0;j<obj.length;j++){
            //拼接div的id
            var divName = "#channelDiv"+i;
            $(divName).append("       <div style=\"width: 12%;height: 100%;float: left;padding-right: 1%\">\n" +
                "                                        <div style=\"width: 100%;height: 100%;background:url('../../static/Img/transparent_black.png')\">\n" +
                "                                            <div style=\"width: 100%;height: 33%\">\n" +
                "                                                <div style=\"width: 98%;height: 50%\">\n" +
                "                                                    <p style=\"font-size: 14px;padding-top: 5px;padding-left:5% \">"+obj[j].main.name+spanStatus(obj[j].main.status)+
                "                                                </div>\n" +
                "                                                <div style=\"width: 95%;height: 50%;\">\n" +
                "                                                    <div style=\"height: 50%;width: 100%;\">\n" +
                "                                                        <div style=\"height: 96%;width: 100%;padding-top: 4%\">\n" +
                "                                                            <div align=\"center\" style=\"width: 50%;float: left\">\n" +
                "                                                                <p style=\"float: left\"><i class=\"layui-icon layui-icon-download-circle\"></i></p>\n" +
                "                                                                 <!-- 追加动画效果-input输入 -->\n" +animation(obj[j].main.input , obj[j].main.input_dBmw) +
                "                                                            </div>\n" +
                "                                                            <div align=\"center\" style=\"width: 50%;float: left\">\n" +
                "                                                                <p style=\"float: left\"><i class=\"layui-icon layui-icon-upload-drag\"></i></p>\n" +
                "                                                                 <!-- 追加动画效果-output输出 -->\n" +animation(obj[j].main.output, obj[j].main.output_dBmw) +
                "                                                            </div>\n" +
                "                                                        </div>\n" +
                "                                                    </div>\n" +
                "                                                </div>\n" +
                "                                            </div>\n" +
                "                                            <div style=\"width: 100%;height: 33%\">\n" +
                "                                                <div style=\"width: 98%;height: 50%\">\n" +
                "                                                    <p style=\"font-size: 14px;padding-top: 5px;padding-left:5% \">"+obj[j].vice.name+spanStatus(obj[j].vice.status)+
                "                                                </div>\n" +
                "                                                <div style=\"width: 95%;height: 50%;\">\n" +
                "                                                    <div style=\"height: 50%;width: 100%;\">\n" +
                "                                                        <div style=\"height: 96%;width: 100%;padding-top: 4%\">\n" +
                "                                                            <div align=\"center\" style=\"width: 50%;float: left\">\n" +
                "                                                                <p style=\"float: left\"><i class=\"layui-icon layui-icon-download-circle\"></i></p>\n" +
                "                                                                   <!-- 追加动画效果-input输入 -->\n" +animation(obj[j].vice.input, obj[j].vice.input_dBmw) +
                "                                                            </div>\n" +
                "                                                            <div align=\"center\" style=\"width: 50%;float: left\">\n" +
                "                                                                <p style=\"float: left\"><i class=\"layui-icon layui-icon-upload-drag\"></i></p>\n" +
                "                                                                   <!-- 追加动画效果-output输出 -->\n" +animation(obj[j].vice.output, obj[j].vice.output_dBmw) +
                "                                                            </div>\n" +
                "                                                        </div>\n" +
                "                                                    </div>\n" +
                "                                                </div>\n" +
                "                                            </div>\n" +
                "                                            <div style=\"width: 100%;height: 33%\">\n" +
                "                                                <div style=\"width: 98%;height: 50%\">\n" +
                "                                                    <p style=\"font-size: 14px;padding-top: 5px;padding-left:5% \">"+obj[j].wifi.name+spanStatus(obj[j].wifi.status)+
                "                                                </div>\n" +
                "                                                <div style=\"width: 95%;height: 50%;\">\n" +
                "                                                    <div style=\"height: 50%;width: 100%;\">\n" +
                "                                                        <div style=\"height: 96%;width: 100%;padding-top: 4%;text-align: center\">\n" +
                "                                                            <p style=\"font-size: 12px\">"+obj[j].wifi.data1+" | "+obj[j].wifi.data2+" | "+obj[j].wifi.data3+"</p>\n" +
                "                                                        </div>\n" +
                "                                                    </div>\n" +
                "                                                </div>\n" +
                "                                            </div>\n" +
                "                                        </div>\n" +
                "                                    </div>");
        }
    }

    /**
     * 生成随机颜色值
     * @returns {string}
     */
    function getRandomColor(){
        var r = Math.floor(Math.random()*256);
        var g = Math.floor(Math.random()*256);
        var b = Math.floor(Math.random()*256);
        if(r < 16){
            r = "0"+r.toString(16);
        }else{
            r = r.toString(16);
        }
        if(g < 16){
            g = "0"+g.toString(16);
        }else{
            g = g.toString(16);
        }
        if(b < 16){
            b = "0"+b.toString(16);
        }else{
            b = b.toString(16);
        }
        return "#"+r+g+b;
    }

    $(document).ready(function () {
        /** 检验浏览器是否支持websocket */
        if ("WebSocket" in window) {

            var url = "ws://localhost:9090";

            /** 新建websocket连接   ReconnectingWebSocket-》使用javascript封闭的websocket库 */
            var ws = new ReconnectingWebSocket(url);

            /** 连接建立时触发 */
            ws.onopen = function()
            {
                ws.send("test");
            };

            /** 客户端接收服务端数据时触发 */
            ws.onmessage = function (evt)
            {
                $("#seatContentDiv").remove();
                $("#containerDiv").append("   <div id=\"seatContentDiv\" class=\"layui-tab-content\" style=\"\"></div>");
                if (evt.data!=null){
                    var data = JSON.parse(evt.data);
                    console.log(data);
                    for (var i=0;i<data.length;i++){
                        addSeatDiv(data[i],i);
                        addBaseStation(data[i].base_station,i);
                    }
                }
            };

            /** 连接关闭时触发 */
            ws.onclose = function()
            {
                // console.log("webSocket on close ...");
            };

            /**  通讯错误时触发 */
            ws.onerror = function()
            {
                layer.msg('msg：Server连接异常，正在重连...', {
                    time: 3000, //3s后自动关闭
                });
            };

        } else {
            layer.msg('msg：该浏览器不支持 WebSocket！', {
                time: 3000, //3s后自动关闭
            });
        }

        /**  监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端可能会抛异常。 */
        window.onbeforeunload = function() {
            ws.close();
        };
    });

</script>
</body>
</html>