<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>websocket</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" href="../../Public/Css/layui.css">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <script src="../../Public/Js/jquery_v3.4.1.js"></script>
    <script src="../../Public/layui/layui.js"></script>
    <script src="../../Public/Js/highcharts.js"></script>
    <script src="../../Public/Js/exporting.js"></script>
    <script src="../../Public/Js/oldie.js"></script>
    <script src="../../Public/Js/highcharts-zh_CN.js"></script>
</head>
<body>
    <!--<div>消息内容：<br/>-->
        <!--<textarea id="text_chat_content" readonly="readonly" cols="20" rows="5"></textarea>-->
        <!--<br/>-->
        <!--<button id="bt_left">离开</button>-->
        <!--<br/>-->
        <!--输入框：<input id="in_msg" type="text"/>-->
        <!--<button id="bt_send">发送</button>-->
    <!--</div>-->
    <div>
        <div id="container" style="width:700px;height:380px;margin:0 auto;padding-top: 100px"></div>
        <div >webSocket连接状态 <span class="layui-badge-dot layui-bg-blue"></span></div>
    </div>

<script>
    var url =null;
    //highcharts图表
    var chart = Highcharts.chart('container', {
        chart: {
            backgroundColor: '#212d3c',
            type: 'spline',
        },
        title: {
            text: '标题',
            style: {
                color:'#1e9fff',
                fontWeight: 'bold'
            }
        },
        // subtitle: {
        //     text: '副标题'
        // },
        xAxis: {
            crosshair: false,//准星线
            lineColor: '#197F07',
            // title: {
            //     text:'X轴',
            // },
            tickPixelInterval: 100,
            min: 0,
            max:160
        },
        yAxis: {
            crosshair: false,//准星线
            title: {
                text: 'Y轴'
            },
            gridLineColor: '#197F07',
            tickPositions: [-200,-150,-100,-50,0,50,100,150,200]
        },
        plotOptions: {
            series: {
                //数据动画渲染
                animation: false
            },
            line: {
                dataLabels: {
                    // 开启数据标签
                    enabled: false
                },
                // 关闭鼠标跟踪，对应的提示框、点击事件会失效
                enableMouseTracking: false
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            id:'exSeries',
            marker: {
                //小圆点
                enabled: false
            },
            color:'#13e616',
            name: '数据波形',
            data: []
        },]
    });

    $(document).ready(function () {
        var ws = null;
        //生成唯一ID
        var uuid = Number(Math.random().toString().substr(3,length) + Date.now()).toString(36);
        //创建websocket连接
        ws = new WebSocket("ws://127.0.0.1:9090");
        ws.onopen = function (){
            ws.send(uuid);
            console.log("WebSocket 成功连接");
        }

        ws.onmessage = function (data) {
            // $('#text_chat_content').append(data.data);
            console.log(data.data);
            var websocketJson = $.parseJSON(data.data);
            var array = websocketJson.data;
            // //更新表格数据
            chart.series[0].setData(array, true, false, false);
        };

        ws.onclose = function () {
            console.log("websocket 断开连接")
        };


        $('#bt_send').click(function () {
            // if (ws){
            //     ws.send($('#in_msg').val());
            // }
        });
        $('#bt_left').click(function () {
            if (ws!=null){
                ws.close();
            }
        });

        // 监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口。
        window.onbeforeunload = function() {
            ws.close();
        }
    });
</script>
</body>
</html>